<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>프롬프트 api 실기능 페이지</title>
        <script>
            function submit() {
                const query = document.getElementById("autogen").value;
                location.href="/restApi/autogenerator/" + query;
            }

             function submit2() {
                document.getElementById("form2").submit();
            }

            function submit3() {
                document.getElementById("form3").submit();
            }

            function submit4() {
                const query = document.getElementById("hautogen").value;
                location.href="/restApi/hautogenerator/" + query;
            }

        </script>
    </head>
    <body>
        <p>안녕하세요 프롬프트 api 테스트 페이지 입니다.</p>
        <hr>
        <p>현재시각 : {{now}}</p>
        <hr>
        <h3>프롬프트 자동 생성 테스트(영어단어만 가능)</h3>
        <input id="autogen" name="query" style="width:400px" placeholder="당신은 무엇을 하는 사람인가요? 예시: soccer player">
        <button id="submitButton" onclick="submit()">submit</button>

        <h3>프롬프트 반자동 생성 테스트(한글 가능)</h3>
        <input id="hautogen" name="query" style="width:400px" placeholder="예시: 사진 잘 찍는 법">
        <button id="submitButton" onclick="submit4()">submit</button>

        <h3>GEVAL 테스트</h3>
        <form id="form3" method="post" action="{% url 'restApi:request-geval' %}">
            {% csrf_token %}
            <input id="origin_prompt" name="origin" style="width:300px" placeholder="원래 프롬프트를 입력해주세요.">
            <br>
            <input id="result_prompt" name="result" style="width:300px" placeholder="개선된 프롬프트를 입력해주세요.">
            <button id="submitButton" onclick="submit4()">submit</button>
        </form>

        <hr>
        <h3>하이퍼 파라미터형 태스크 프롬프트 테스트(영어로 작성해주세요)</h3>
        <form id="form2" method="post" action="{% url 'restApi:request-llama2' %}">
            {% csrf_token %}
            <input id="query3" name="query" style="width:300px" placeholder="프롬프트를 입력해주세요.">
            <button id="submitButton" onclick="submit3()">submit</button>
        </form>
    </body>
</html>